h1 {
  color: black;
  font-size: 39px;
}
h2 {
  font-size: 26px;
}
img {
  max-width: 100%;
  max-height: 100%;

}

/* ul {
  background-color: #F7F9FC;
  margin-top: 25px;
  padding: 30px 55px;
  border-radius: 8px;
}
li {
  margin-bottom: 8px;
} */
header {
  background-color: #F0F8FF;
  padding: 200px 0;
  /* background-image: url("img/bandsani.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; */
}
body {
  color: #4a4a4a;
}
div {

}

.section {
  padding: 60px 0 40px;
}

.first-section {
background-color: white;

}

.first-section ul {
  background-color: #F7F9FC;
  border-radius: 8px;
  margin-top: 25px;
  padding: 30px 55px;

}

.first-section li {
    margin-bottom: 8px;

}
